.tag {
	font-weight: bold;
}

.value {
	font-family: monospace;
}

.pre {
	font-family: monospace; white-space: pre;
}

.base { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
    margin: 0;
}
.base-container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: contain, cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
  }  
  .panel h3 {
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.2s; 
}